.newsActive{
    background-color: #f9f9f9;
    position: relative;
    margin-bottom: 150px;
}
.newsActive::before{
    content: "";
    position: absolute;
    top: -159px;
    left: 0;
    width: 100%;
    height: 160px;
    background: url("../img/projects-bg.png") no-repeat;
}
.newsActive::after{
    content: "";
    position: absolute;
    bottom: -159px;
    left: 0;
    width: 100%;
    height: 160px;
    background: url("../img/projects-bg.png") no-repeat;
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.newsActive__wrapper{
    max-width: 1315px;
    margin: auto;
    position: relative;
    top: -600px;
}
.news1item .header{
     margin-bottom: 400px;
}
.news1item .navMain{
    margin-bottom: 80px;
}
.newsActive__img{
    margin-bottom: 30px;
}
.newsActive__img img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 20px 24px 0 rgba(41, 41, 41, 0.1);
}
.newsActive__info{
    display: flex;
    margin: 0 0 60px 20px;
    font-size: 18px;
    font-family: SFProDisplayLight, Arial, sans-serif;
}
.newsActive__time{
    margin-right: 50px;
    color: #9aca3c;
}
.newsActive__time i{
    margin-right: 15px;
}
.newsActive__category a{
    text-decoration: underline;
    color: #c5c4c4;
}

.newsActive__description{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 65%;
}
.left img{
    width: 97%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 20px 24px 0 rgba(41, 41, 41, 0.1);
    margin-bottom: 70px;
}
.left h2{
    font-size: 45px;
    line-height: 60px;
    color: #2a2a2a;
    font-family: SFProDisplayMedium, Arial, sans-serif;
    margin: 0 0 60px;
}
.left p{
    font-size: 18px;
    line-height: 25px;
    font-family: SFProDisplayLight, Arial, sans-serif;
    width: 95%;
}
.left p:nth-child(even){
    margin: 0 0 30px;
}
.left p:nth-child(odd){
    margin: 0 0 75px;
}
.left p:last-child{
    margin-bottom: 0;
}
.left p:first-of-type:first-letter{
    font-family: SFProDisplayBold, Arial, sans-serif;
    font-size: 45px;
}
.right{
    width: 26%;
    position: relative;
    z-index: 10;
}
.right .social{
    visibility: visible;
    margin: auto;
}
.right .social__btn{
    border-color: #9aca3c;
    color: #000000;
}
.right .social__btn:hover{
    color: #9aca3c;
    border-color: #000;
}
.right p{
    font-size: 24px;
    line-height: 48px;
    margin: 15px 0 35px;
}

@media (max-width: 1750px) {
    .newsActive__wrapper{
        max-width: none;
        width: 80%;
    }
    .news1item .navMain{
        margin-bottom: 120px;
    }
    .left p:nth-child(odd),
    .left img{
        margin-bottom: 60px;
    }
    .left p:last-child{
        margin-bottom: 0;
    }
    .left h2{
        font-size: 38px;
        line-height: 45px;
    }
}
@media (max-width: 1399px){
    .newsActive__wrapper{
        top: -500px;
    }
    .news1item .header{
        margin-bottom: 300px;
    }
    .news1item .navMain{
        margin-bottom: 80px;
    }
    .left h2{
        margin-bottom: 30px;
    }
    .newsActive::after{
        bottom: -130px;
    }
}
@media (max-width: 1199px){
    .newsActive__wrapper{
        top: -400px;
    }
    .news1item .header{
        margin-bottom: 200px;
    }
    .news1item .navMain{
        margin-bottom: 80px;
    }
    .left h2{
        font-size: 30px;
        line-height: 36px;
    }
    .left p:nth-child(even){
        margin-bottom: 15px;
    }
    .left p:nth-child(odd),
    .left img{
        margin-bottom: 30px;
    }
    .left p:last-child{
        margin-bottom: 0;
    }
}
@media (max-width: 991px){
    .news1item .navMain{
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .newsActive__wrapper{
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
    .newsActive__description{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
    }
    .left img,
    .left p{
        width: 100%;
    }
    .right .social{
        width: 40%;
    }
    .right p{
        margin-bottom: 5px;
        text-align: center;
    }
    .newsActive::after{
        bottom: -100px;
    }
}
@media (max-width: 579px) {
    .news1item .header__wrapper{
        margin-bottom: 0;
    }
    .news1item .header{
        margin-bottom: 0;
    }
    .newsActive__wrapper{
        top: -200px;
    }
    .right .social{
        width: 100%;
    }
    .newsActive::after{
        bottom: -80px;
    }
    .newsActive__info{
        font-size: 14px;
        margin: 0 0 20px;
    }
    .left h2{
        font-size: 24px;
        line-height: 30px;
    }
    .left p{
        font-size: 14px;
        line-height: 20px;
    }
    .left p:first-of-type:first-letter{
        font-size: 30px;
    }
}