.projectPage .header{
    padding-bottom: 0;
}
.projectActive{
    max-width: 1670px;
    margin: 0 auto 200px;
}
.projectActive__wrapper{
    display: flex;
    justify-content: space-between;
}
.projectActive__video{
    width: 60%;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.projectActive__video img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.projectActive__video::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 50%;
}
.projectActive__video::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #fff;
}
.projectActive__video:hover::after{
    border-left-color: red;
}
.projectActive__info{
    width: 35%;
    position: relative;
    margin-top: 100px;
}
.projectActive__title{
    font-size: 36px;
    line-height: 50px;
    font-family: SFProDisplayMedium, Arial, sans-serif;
    letter-spacing: .025em;
}
.projectActive__author{
    font-size: 24px;
    line-height: 36px;
    text-decoration: underline;
    margin-bottom: 40px;
}
.projectPage .item__donate{
    font-size: 58px;
    line-height: 82px;
    font-family: SFProDisplayMedium, Arial, sans-serif;
    color: #2a2a2a;
}
.projectPage .item__currency{
    font-size: 39px;
    font-family: SFProDisplayRegular, Arial, sans-serif;
    line-height: 90px;
    padding-left: 10px;
}
.projectPage .item__progress{
    width: 90%;
    height: 5px;
}
.projectPage .item__bar{
    height: 5px;
}
.projectPage .item__to,
.projectPage .item__percent{
    font-size: 24px;
    line-height: 51px;
    color: #b6b6b6;
    font-family: SFProDisplayLight, Arial, sans-serif;
}
.projectPage .header__links{
    margin-top: 100px;
}
.projectPage .header__links .toSupport{
    background: linear-gradient(135deg, #fff 0%, #fff 50%, #9aca3c 50%, #9aca3c 100%) right center;;
    background-size: 226% auto;
    margin-right: 50px;
}
.projectPage .header__links .toSupport a,
.projectPage .header__links .toSupport a::after{
    border-color: #fff;
    color: #ffffff;
}
.projectPage .header__links .toSupport a:hover,
.projectPage .header__links .toSupport a:hover::after{
    color: #9aca3c;
    border-color: #9aca3c;
}
.projectPage .header__links .toSupport a::before{
    background-color: #ffffff;
}
.projectPage .header__links .toSupport a:hover::before{
    background-color: #9aca3c;
}
.projectPage .item__like{
    position: static;
    height: auto;
    width: 100px;
}
.projectPage .item__like a{
    color: #fff200;
    width: auto;
}
.projectPage .item__like:hover i{
    transform: scale(1.3);
}
.projectPage .item__category{
    position: static;
    font-size: 20px;
    line-height: 51px;
}

.info {
    background-color: rgb(249, 249, 249);
    position: relative;
    font-family: SFProDisplayMedium, Arial, sans-serif;
    margin-bottom: 350px;
}
.info::before {
    content: "";
    position: absolute;
    top: -249px;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgb(249, 249, 249);
    clip-path: polygon(0px 100%, 0px 100%, 100% 100%, 0px 0px);
}
.info::after {
    content: "";
    position: absolute;
    bottom: -309px;
    left: 0;
    width: 100%;
    height: 310px;
    background-color: rgb(249, 249, 249);
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 0px);
}
.info__wrapper {
    max-width: 1670px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    padding: 0 35px;
    box-sizing: border-box;
}
.description {
    margin-top: -90px;
    width: 59%;
}
.description__text{
    font-size: 23px;
    line-height: 41px;
    font-family: 'Myriad Pro', Arial, sans-serif;
    color: #424242;
    margin-bottom: 30px;
}
.description__slider{
    margin-bottom: 100px;
    position: relative;
}
.description__slider img{
    margin: 10px auto 20px;
    box-shadow: 0 0 15px #000;
}
.projectPage .slick-dots{
    margin-top: 0;
}
.projectPage .slick-dots li{
    margin-right: 30px;
}
.projectPage .slick-dots li button{
    border: 2px solid #898989;
    border-radius: 0;
    transform: skew(-30deg);
    width: 12px;
    height: 13px;
    padding: 0;
}
.projectPage .slick-dots li.slick-active button{
    background-color: #9aca3c;
    border-color: #9aca3c;
}
.projectPage .slick-arrow{
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    cursor: pointer;
    transition: .5s;
}
.projectPage .slick-arrow:visited{

}
.projectPage .slick-arrow:focus{
    outline: none;
}
.projectPage .slick-prev{
    left: 40px;
    transform: translateY(-50%) rotate(45deg);
}
.projectPage .slick-next{
    right: 40px;
    transform: translateY(-50%) rotate(-135deg);
}
.projectPage .slick-prev:hover{
    transform: translateY(-50%) rotate(45deg) scale(1.2);
}
.projectPage .slick-next:hover{
    transform: translateY(-50%) rotate(-135deg) scale(1.2);
}

.projectPage .tabs {
    position: relative;
    display: flex;
}
.projectPage .tabs__item {
    width: 30%;
}
.projectPage .tabs__link {
    display: block;
    width: max-content;
}
.donate {
    width: 35%;
}
.donate__item {
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
    color: rgb(42, 42, 42);
    font-family: SFProDisplayLight, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    padding: 25px 45px 30px;
}
.donate__info {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 25px;
    text-align: center;
}
.donate__title {
    font-size: 27px;
    line-height: 58px;
    text-align: center;
    font-family: SFProDisplayRegular, Arial, sans-serif;
}
.donate__title span {
    font-size: 41px;
    font-family: SFProDisplayMedium, Arial, sans-serif;
}
.donate__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-color: rgb(154, 202, 60);
    border-left-color: transparent;
    border-width: 0 0 80px 90px;
    border-style: solid solid;
    border-image: initial;
    border-top: 0;
    border-right: 0;
}
a.donate__btn::before {
    content: "";
    position: absolute;
    right: 21px;
    top: 50px;
    width: 36px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}
a.donate__btn::after {
    content: "";
    position: absolute;
    right: 22px;
    top: 43px;
    transform: rotate(45deg);
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}
.donate__text {
    color: rgb(66, 66, 66);
}
.donate__sending {
    color: rgb(154, 202, 60);
    margin-top: 15px;
}
.donate__support {
    color: rgb(182, 182, 182);
    margin-top: 15px;
}

.projectSocial .social{
    visibility: visible;
    position: static;
    width: 20%;
    margin: auto;
}
.projectSocial .social__btn{
    border-color: #9aca3c;
    color: #000000;
}
.projectSocial .social__btn:hover{
    color: #9aca3c;
    border-color: #000;
}
.projectSocial{
    text-align: center;
    padding: 10px 0;
}
.projectSocial p{
    font-size: 24px;
    line-height: 48px;
}
.recommendation{
    max-width: 1670px;
    margin: 0 auto 200px;
}
.recommendation__title{
    font-size: 36px;
    line-height: 42px;
    font-family: SFProDisplayMedium, Arial, sans-serif;
    margin-bottom: 50px;
}